<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>
      <span class="li-icon">{% include svg/pin-alt.svg %}</span>
      <span>Vancouver, BC, Canada</span>
    </li>
    <li>
      <span class="li-icon">{% include svg/mail.svg %}</span>
      <a href="mailto:ikulan12@gmail.com">ikulan12@gmail.com</a>
    </li>
    <li>
      <span class="li-icon">{% include svg/linkedin.svg %}</span>
      <a href="https://www.linkedin.com/in/ikulan12/">www.linkedin.com/in/ikulan12</a>
    </li>
        <li>
      <span class="li-icon">{% include svg/github.svg %}</span>
      <a href="https://github.com/ikulan">github.com/ikulan</a>
    </li>

  </ul>
</div>
