<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>
      <span class="li-icon">{% include svg/pin-alt.svg %}</span>
      <span>Vancouver, BC, Canada</span>
    </li>
    <li>
      <span class="li-icon">{% include svg/linkedin.svg %}</span>
      <a href="https://www.linkedin.com/in/ikulan12/" target="_blank">www.linkedin.com/in/ikulan12</a>
    </li>
    <li>
      <span class="li-icon">{% include svg/github.svg %}</span>
      <a href="https://github.com/ikulan" target="_blank">github.com/ikulan</a>
    </li>
    <li>
      <span class="li-icon"> 🤗 </span>
      <a href="https://huggingface.co/ikulan" target="_blank">huggingface.co/ikulan</a>
    </li>
  </ul>
</div>
