<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.layout == "home" %}
    {{ site.title }}
    {% else %}
    {{ site.title }} &middot; {{ page.title }}
    {% endif %}
  </title>

  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/open-color.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/site.webmanifest' | relative_url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ 'atom.xml' | relative_url }}">

  {% seo title=false %}
</head>

<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
  <div class="container-fluid">
    <a id="theme-toggle" class="toggle-icon" onclick="modeSwitcher()"></a>
    <!-- show up menu item for small screen -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- menu -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{{ '#about' | relative_url }}">About</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ '#' | relative_url }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Experience
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ '#wearisma' | relative_url }}">WeArisma</a></li>
            <li><a class="dropdown-item" href="{{ '#nb' | relative_url }}">NetBase Quid</a></li>
            <li><a class="dropdown-item" href="{{ '#garmin' | relative_url }}">Garmin</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="{{ '#ed' | relative_url }}">Education</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '#contact' | relative_url }}">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
